.profile-section {
    background-color: white;
}

.history-section {
    background-color: white;
}

.skills-section {
    background-color: white;
}

.contact-section {
    background-color: white;
}