.profile-section {
    border-top: 2px solid rgba(204, 204, 204, 0.3);
    background-color: white;
}

.history-section {
    background-color: white;
}

.skills-section {
    background-color: white;
}

.contact-section {
    border-top: 2px solid rgba(204, 204, 204, 0.3);
    background-color: white;
}