@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global for targeting each component */
/* .about, .experience, .skills, .contact {
    font-family: 'Roboto', sans-serif;
}
 */

/* .experience {
    background-color: #e2e0e0;
    border: 1px dashed #ccc;

    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;

} */

/* .skills {
    background-color: #f0f0f0;
    border: 1px dashed #ccc;

    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;

} */

/* .contact {
    background-color: #434242;
    border: 1px dashed #ccc;

    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;

} */

/* .profile-image {
    border: 10px solid #e2e0e0;
    border-radius: 50%;
}

.details-heading {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0rem;
}

.section-header {
    text-align: center;
}

.header-one {
    color: #F7882F;
    font-size: 2.5rem
}

.header-two {
    font-size: 1.8rem;
    color: #F7882F;
}

.header-three {
    
}

.education-title {
    font-size: 1.5rem;
}

.course-title {
    font-size: 1rem;
}

.course-duration {
    font-size: 0.95rem;
    font-style: italic;
}

.education-location {
    color: #F7882F;
}

.skill-header {
    color: #F7882F;
    font-size: 1.25rem;
} */


