.contact-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #434242;
    color: #FFFFFF;
    justify-content: center;
}

.skills-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contact-subheader {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #DDDDDD;
}

.contact-divider {
  border: 1px solid #FFFFFF;
  margin: 2rem auto;
  width: 100%;
}

.contact-link {
  font-size: 1.2rem;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.contact-link i {
  margin-right: 0.5rem;
}