
/* /// Component container /// */
.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header to denote "education" section */

.header-col {
  padding-left: 25px;
}

.education-header {
  color: #F7882F;
  margin-bottom: 0rem;
}

.education-header-hr {
  width: 25%;
  margin-left: 0px;
  margin-top: 15px;
}


/* /// Timeline item /// */

.item-hr-left { /* Left side horizontal rule */
  max-width: 75%;
  margin-right: 0px;
  margin-left: 10rem;
}

.item-hr-right { /* Right side horizontal rule */
  max-width: 75%;
  margin-left: 0px;
}

.item-institute {
  font-size: 1.5rem;
  color: #F7882F;
}

.item-course {
  font-size: 1.25rem;
}

.item-type {
  color: #F7882F;
}

.item-date {
  font-style: italic;
  color: #747474;
  font-size: 0.95rem;
  margin-top: 10px; 
  margin-bottom: 5px;
}

.item-description {
  font-size: 1.075rem;
}

.item-location {
  font-style: italic;
  font-size: 1rem;
  color: #747474;
  margin-top: 5px;
}


/* /// Vertical timeline /// */

.timeline-col {
  padding: 0;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #F7882F;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-dot {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: white;
  border: 3px solid #F7882F;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

