.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-header {
  color: #F7882F;
  margin-bottom: 0rem;
}

.education-item-hr-left {
  max-width: 75%;
  margin-right: 0px;
  margin-left: 10rem;
  margin-bottom: 15px;
}

.education-item-hr-right {
  max-width: 75%;
  margin-left: 0px;
  margin-bottom: 15px;
}

.education-header-hr {
  width: 25%;
  margin-left: 0px;
  margin-top: 15px;
}

.education-header-col {
  padding-left: 25px;
}

.education-item-title {
  font-size: 1.5rem;
  color: #F7882F;
}

.education-item-company {
  font-size: 1.15rem;
}

.education-item-date {
  font-style: italic;
  color: #747474;
  font-size: 0.95rem;
  margin-top: 10px; 
  margin-bottom: 5px;
}

.education-item-description {
  font-size: 0.95rem;
}

/*/////////////Timeline////////////////*/

.education-timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: #F7882F;
  left: 50%;
  transform: translateX(-50%);
}

.education-timeline-dot {
 position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 4px solid #F7882F;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

