/* /// Component container /// */

.experience-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* /// Header /// */
.experience-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #F7882F;
}

.experience-subheader {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-bottom: 1rem;
}

.experience-container hr {
  border: 0;
  height: 1px;
  background: #000;
  margin: 1.5rem 0;
}

.education-header {
  font-size: 2.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  color: #F7882F;
}

/* /// i.e. IADT /// */
.college-title {
  font-size: 1.5rem;
  color: #222;
}

/* /// i.e. Creative Computing /// */
.course-title {
  font-size: 1.1rem;
  font-style: italic;
  color: #666;
  margin-bottom: 0.5rem;
  margin-left: 1.8rem
}

/* /// Duration /// */
.course-duration {
  font-size: 1rem;
  color: #999;
  margin-bottom: 1rem;
  margin-left: 1.8rem
}

.college-title-bullet {
    color: #F7882F;
    padding-bottom: 0.2rem;
}

.education-location {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: #777;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.education-location svg {
  color: #F7882F;
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

/* /// Responsive media /// */
@media (max-width: 768px) {
  .experience-container {
    padding: 1.5rem 1rem;
  }

  .experience-header {
    font-size: 2.2rem;
  }

  .education-header {
    font-size: 1.5rem;
  }

  .college-title {
    font-size: 1.3rem;
  }

  .course-title, .course-duration, .education-location, .experience-container p {
    font-size: 0.9rem;
  }
}
