.navContainer {
  position: fixed;
  background-color: white;
  padding-top: 1rem;
  top: 50%;
  border-radius: 4px;
  /* left: 24px; */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
  max-width: 7vw;
}

.navRow {
  max-width: 10vw;
  color: #f7882f; /* default orange */
}

.nav-dots-col {
  margin-left: 1rem;
}

.navDot {
  display: inline-block;
  transform: scale(0.75);
  color: #f7882f;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navText {
  display: inline-block;
  transform: scale(1);
  text-align: left;
  color: #f7882f;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effects */
.navRow:hover .navDot {
  transform: scale(1.25);
  color: #ccc;
}

.navRow:hover .navText {
  transform: scale(1.25);
  color: #ccc;
}

/* Active section styles */
.activeDot {
  color: #ccc; /* Slightly darker orange */
}

.activeText {
  color: #ccc;
}
