/* FloatingNav.module.css */
.navContainer {
  position: fixed;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.navRow {
  max-width: 10vw;
}

.navRow {
  color: #f7882f;
}

.navDot {
  display: inline-block;
  transform: scale(0.75);
}

.navText {
  display: inline-block;
  transform: scale(1);
  text-align: left;
}

.navRow:hover .navDot{
  display: inline-block;
  transform: scale(1.25);
  color: #ccc;
}

.navRow:hover .navText{
  display: inline-block;
  transform: scale(1.25);
  color: #ccc;
}
