.landing {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* The background image is fixed to the viewport and does not scroll */
.landing::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../assets/placeholder.jpeg') center center / cover no-repeat;
  z-index: -1; /* Ensures it's behind everything */
  transform: translateZ(0); /* Helps on some mobile browsers */
  filter: blur(0.4em);

}

/* Content inside the landing stays scrollable */
.overlay {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.title {
  color: #F7882F;
  font-size: 3rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.subtitle {
  color: #F7882F;
  font-size: 0.75rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}