.section-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: calc(100vh * 0.30);
  margin-bottom: 1.5rem;
}

.header-wing-left-hr {
  margin-top: 1.5rem;
}

.header-wing-right-hr {
  margin-top: 1.5rem;
}
.section-header {
  font-size: 2.75rem;
  text-align: center;
  font-weight: lighter;
  color: #F7882F;
  margin-bottom: 1rem;
}

.section-subheader {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  margin-bottom: 1rem;
}

.section-header-hr {
  margin-top: 0.1rem;
  margin-bottom: 3rem;
}

/*=== Responsive Styles ===*/

@media (max-width: 768px) {
  .header-wing-left-hr {
    visibility: hidden;
  }

  .header-wing-right-hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
